@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 3 - Thai Hoa Huynh</h1>
    <p class="lead">
        This web app allows users to display lists of Album, Artist, and MediaType in the database.
        <br />
        Users can also add new Tracks and edit many-to-many associations while working with the Playlist object.
    </p>
</div>
